/* Importar fuentes de letra */
@font-face{
    font-family: 'yanone';
    src: url(fonts/yanone.ttf);
}
@font-face{
    font-family: "titilium";
    src: url("fonts/titilium.ttf");
}
@font-face{
    font-family: "finger";
    src: url("fonts/finger.ttf");
}

/********** estilos css de a web ********/
body{
    background: pink;
    font-family: 'yanone',Arial, Helvetica;
    font-size: 20px;
    background: url("../img/pattern.png");
    background-attachment: fixed;
}
*{
    margin: 0px;
    padding: 0px;
}

/* ******* cabecera header   ********** */

header{
    display: block;    
    width: 100%;
    height: 90px;
    background: rgb(46, 134, 193,0.8);
    position: fixed; /* para que la table se quede en la posicion siempre visible */
    text-transform: uppercase; /* para convertir a mayuscula */
}

.clear-fixe{
    float: none;
    clear: both;
}
header ul{
    display: block;
    width: 42%;
    height: inherit; /* "inherit" significa que hera del padre */
    margin: 0px auto;
    margin-top: -4px;
}
header ul li{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 90px;
}

header a{
    display:block ;
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}
header a:hover,.link-menu-active{
    background: rgb(33, 97, 140,0.7);
}

/********** Maketado logotipo **********/
#logo_menu{
    font-family: 'finger';
    font-size: 30px;
}

#logo_menu a{
    transition: color 500ms, transform 500ms;
}
#logo_menu a:hover{
    background:transparent;
    color: black;
    transform: scale(1.50,1.50);
}

/******* contenedor principal *******/

#content{
 min-height: 600px;
 width: 75%;
 height: auto;
 margin: 0px auto;
 box-shadow: 0px 0px 40px black;
 border-left: 1px solid #b7b7b7;
 padding-top: 120px;
}
/******* pide de pagina ********/
footer{
    width: 75%;
    margin: 0px auto;
    padding-top: 15px;
    color: rgb(0, 0, 0,0.5);
}

/******* about me  ********/
#title{
width: 70%;
margin-top: 20px;
margin: 0px auto;
text-align: center;
margin-bottom: 100px ;
}

#title h1{
    font-family: 'finger';
    font-size: 60px;
    border-bottom: 1px solid #cccc;
    margin-bottom: 5px;
}
#title h2{
    font-size: 25px;
    color: gray;
    margin-bottom: 5px;
    margin-top: 5px;
}

article.about{
width: 70%;
margin: 0px auto;
margin-bottom: 20px;
font-size: 23px;
}
.about h2{
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.about p{
padding-top: 20px;
padding-bottom: 30px;
text-align: justify;
}

/*******  seccion  con formularios *******/

.container{
    padding: 50px;
    padding-top: 10px;
}

.container h2{
    border-bottom: 1px solid #cccc;
    padding-bottom:10px;
    margin-bottom: 10px;
}

form{
    width: 80%;
}

form label{
    width: 100%;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
width: 40%;
height:15px ;
padding:5px;
}

form button,
form input[type="submit"],
.btnEditar,
.btnBorrar{
cursor:pointer ;
display: block;    
font-size: 17px;
padding: 10px;
margin-top: 15px;
color: white;
border: 1px solid rgb(33, 97, 140,1);
background: rgb(46, 134, 193,1);
}

.btnEditar,
.btnBorrar{
    width: 20%;
    float: left;
    margin-right: 10px;
    text-decoration: none;
    text-align: center;
}

.btnEditar{
background-color: #ff8f00;
border: 1px solid #ff6f00;
}
.btnBorrar{
    background-color: #e53935;
    border: 1px solid #c62828;
    }

form button,
form input[type="submit"]:hover{
border: 1px solid rgb(46, 134, 193,1);
background: rgb(33, 97, 140,1);
}

form input[disabled]{
    opacity: 0.6;
    cursor: not-allowed;
}

.formError{
    background: red;
    font-size: 13px;
    color: white;
    padding: 3px;
    margin-left: 2px;
}

.message{
    width: 50%;
    padding: 5px;
    border: 1px solid #eee;
}

.succes{
    background: #81c784;
    color: white;
}
.message a {
    color: white;
}
.faild{
    background: #e57373;
    color: white;
}

/* pagina lita de proyectos */

.project{
    width: 28%;
    list-style: none;
    display: block;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

.project img{
    width: 100%;
}
.project .image{
    width: 100%;
    height: 150px;
    overflow: hidden;
    padding-right: 10px;
}
.project a{
    text-decoration: none;
    color: black;
}

.project h3,p{
text-align: left;
margin-left: 10px;
}

/******** pagina de detalles de proyecto  *********/
.container .image{
    width: 47%;
    float: left;
}
.container .image img{
    width: 100%;
    height: auto;
}
.container .data{
    width: 48%;
    float: left;
    margin-left: 30px;
}

.confirm{
	display: block;
	font-weight: bold;
    margin-top: 25px;
    color:#f44336 ;
}