<header>
  <ul>
    <li><a [routerLink]="['/about']" [routerLinkActive]="['actived']">Sobre mi</a></li>
    <li><a [routerLink]="['/Project']" [routerLinkActive]="['actived']">Proyectos</a></li>
    <li id="logo_menu"><a href="#">JL</a></li>
    <li><a [routerLink]="['/createProject']" [routerLinkActive]="['actived']">Crear proyecto</a></li>
    <li><a [routerLink]="['/Contacts']" [routerLinkActive]="['actived']">Contacto</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Master en JavaScript de victorroblesweb.es &copy;
</footer>

