body{
    background: url('../img/hojas.jpg');
    background-attachment: fixed; /* ancla la imagen de fondo  */
}
#logo{
    background: #00897b;
}

#menu{
    background: #00695c;
}

#menu li:hover{
    background:#00897b;
}

.boton-more{
    background: #00897b;
}
#sidebar h4 span{
    background: white;   
}

form input[type='submit']{
    background: #cccc;
}
footer{
    background: rgb(51, 51, 51,0.70);
}