<div id="title">
    <h1>{{titulo}}</h1>
    <h2>{{subtitulo}}</h2>
    <p>{{web}}</p>
  </div>
  
  <article class="about">
    <h2>Sobre Mi</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper eros sed lorem porta, in molestie purus
      accumsan. Vestibulum mollis elit ac quam varius, sit amet lacinia augue semper. Fusce leo sapien, tristique a
      aliquet sit amet, lobortis in dolor. Quisque felis eros, molestie ac condimentum a, tristique a erat. Orci varius
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis ultricies arcu. In eu purus
      non nulla pretium hendrerit in luctus mi. Integer nibh augue, scelerisque ut mi id, posuere finibus ligula. Donec
      elementum auctor pretium. Maecenas fermentum eros malesuada sagittis tristique. In porta gravida orci, vel
      ullamcorper velit dignissim fringilla. Sed leo elit, dictum in pharetra et, sagittis eget ipsum.
    </p>
  </article>